body {
}
/*Hound page*/
#map{
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    margin: 5px;
}
/* nav */
p {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Open Sans Condensed;
    font-weight: 700;
}
#nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#content {
    margin: 0 50px;
    float: left;
    width: 90%;
}
.center {
    align-content: center;
    width: 100%;
}
i {
    margin: 0 50% 0 50%;
}