body {
}
/*Hound page*/
body {
    margin: 5%;
    padding: 50px;
}
/*#content{
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    width: 90%;
}*/
.center{
    align-content: center;
    width: 100%;

}
i {
    margin: 0 50% 0 50%
}
/*1fa7ab*/