body {
}
/*Hound page*/
#map{
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    margin: 5px;
}
#content{
    margin: 0 50px;
    float: left;
    width: 90%;
}
.center{
    align-content: center;
    width: 100%;

}
i {
    margin: 0 50% 0 50%
}